@import "tailwindcss";

@layer components {
  .postBtn {
    @apply h-5 hover:scale-110 duration-75
  }
}

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

@media (max-width: 1180px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 16px 0 16px;
  }
}

button {
  cursor: pointer;
}